# Dependencies
node_modules/

# Production build outputs
dist/
dist-electron/
release/

# Logs & Environment
*.log
npm-debug.log*
.env
.env.local

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
